.App {
  background-color: #1b1b32;
  height: 100vh;
  display: flex;
  align-items: center;
}

#formGridEmail,
#formGridPassword,
#formGridAddress1,
#formGridAddress2,
#formGridCity,
#formGridState,
#formGridZip {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}
.label {
  color: #ffffff;
}
.btn {
  margin-top: 2vmin;
  background-color: #0a0a23;
  border: #0a0a23;
  width: 100%;
  padding: 2vmin;
  transition: all 1s ease;
}
.btn:hover {
  background-color: #ffffff;
  color: #0a0a23;
}
